
<div class="row">
  <div class="col-12 col-md-6">
    <form class="form-group card" [formGroup]="form">
      <div class="title text-center">
        <h3>{{headerContent}}</h3>
      </div>
      <div class="form-controls">
        <div><input type="text" class="input-new-task" formControlName="newTask" placeholder="Add new task..."></div>
        <div class="invalid-mess" *ngIf="form.get('newTask')?.invalid && form.get('newTask')?.touched">Vui lòng nhập task
        </div>
      </div>

      <div class="form-controls">
        <div><label for="description" id="title-description">Description</label><br></div>
        <textarea name="description" class="input-description" id="description" formControlName="description"></textarea>
      </div>
      <div class="form-controls gr resp">
        <div class="form-group-input sub-reps cs-datepicker" (click)="picker.open()">
          <mat-form-field class="half-input " appearance="fill">
            <mat-label>Due date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dueDate">
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button class="btn-pick-date">
            <mat-icon>insert_invitation</mat-icon>
          </button>
        </div>

        <div class="form-group-input sub-reps">
          <mat-form-field appearance="fill" class="half-input">
            <mat-label>Fiority</mat-label>
            <mat-select formControlName="piority">
              <mat-option *ngFor="let piority of selects" [value]="piority.value">
                {{piority.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="form-controls">
        <button (click)="add()" class="btn btn-add" [disabled]="form.invalid">Add</button>
      </div>

    </form>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group card" >
      <div class="title text-center">
        <h3>Todo List</h3>
      </div>
      <div class="detail-list" *ngFor="let item of listTaskLocal; index as i">
        <div class="icon-name">
          <mat-icon>event_available</mat-icon>
          <span class="name-task"> {{item.newTask}}</span>
        </div>
        <div class="btn">
          <button mat-flat-button class="btn-detail" (click)="onEdit(item, i)">Detail</button>
          <button mat-flat-button class="btn-remove" (click)="deteleItem(i)">Remove</button>
        </div>
      </div>

    </div>
  </div>

</div>
<div class="dialog-wrapper" *ngIf="editMode">
  <div class="dialog">
    <div class="dialog-header">Edit
      <div class="btn-close" (click)="editMode = false"></div>
    </div>
    <div class="dialog-body">
      <form class=" card" [formGroup]="editForm">
        <div class="form-controls">
          <div><input type="text" class="input-new-task" formControlName="newTask" placeholder="Add new task..."></div>
          <div class="invalid-mess" *ngIf="form.get('newTask')?.invalid && form.get('newTask')?.touched">Vui lòng nhập task
          </div>
        </div>

        <div class="form-controls">
          <div><label for="description" >Description</label><br></div>
          <textarea name="description" class="input-description" formControlName="description"></textarea>
        </div>
        <div class="form-controls gr">
          <div class="form-group-input cs-datepicker" (click)="picker.open()">
            <mat-form-field class="half-input " appearance="fill">
              <mat-label>Due date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dueDate">
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button class="btn-pick-date">
              <mat-icon>insert_invitation</mat-icon>
            </button>
          </div>

          <div class="form-group-input">
            <mat-form-field appearance="fill" class="half-input">
              <mat-label>Fiority</mat-label>
              <mat-select formControlName="piority">
                <mat-option *ngFor="let piority of selects" [value]="piority.value">
                  {{piority.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="form-controls">
          <button (click)="onEditSave()" class="btn btn-add">Update</button>
        </div>

      </form>

    </div>
  </div>
</div>






